.orderFilterContainer {
    display: inline-block;
}

.inputBlock {
    margin-right: 5px;
}

.actionsBar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.filterPanelClients {
    max-width: 400px;
}

.filterPanelOrders {
    max-width: 800px;
}