mat-card {
  // background: green;
  max-width: 300px;
  border-radius: 10px 0 0 10px;
  border-left: 10px solid green;
  padding-top: 5px; 
  padding-bottom: 5px; 
  margin-bottom: 10px;

}
.active {
  margin-left: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // background: red;
  h2 {
    margin: 0 0 5px 0;
  }
  p {
    margin: 0;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    margin: 0;
  }
}