.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  justify-content: space-between;
}

.form-details {
  display: flex;
  flex-wrap: wrap;
  max-width: 450px;
  justify-content: space-between;
}

.form-group {
  width: 45%;
  &.comment {
    width: 100%;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}