@import 'variables';
mat-card {
  // background: green;
  // max-width: 50%;
  border-radius: 10px 0 0 10px;
  border-left: 10px solid transparent;
  padding-top: 5px; 
  padding-bottom: 5px; 
  margin-bottom: 10px;
  &.-LRrb5BXAtsNCPA1AD3v {
    border-color: $statusOrderNew;
  }
  &.-LRrb5BbSUH9Z52jY_9K{
    border-color: $statusOrderInWork;
  }
  &.-LRrb5Bcw-p7RoioUVMz {
    border-color: $statusOrderRejected;
  }
  &.-LRrb5Bdg-2bVb6lqXxD {
    border-color: $statusOrderСompleted;
  }
}
.active {
  margin-left:15px;
  margin-right:15px;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  // background: red;
  h2 {
    margin: 0 0 5px 0;
  }
  p {
    margin: 0;
  }
}
.content {
  display: flex;
  justify-content: space-between;
  h3 {
    margin: 10px 0 0 0;
  }
  p {
    margin: 0;
  }
}