<mat-card class="container">
  <h2>Детали заявки</h2>
  <form [formGroup]='orderForm' floatLabel="always" (ngSubmit)="onSubmit()" class="form-details">
    <mat-form-field class="form-group">
      <input matInput placeholder="Имя" type="text" class="form-control" id="name" formControlName='name'>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput placeholder="Телефон" type="text" class="form-control" id="phone" formControlName='phone'>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput [matDatepicker]="picker" placeholder="Дата создания" formControlName='date_open'>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-group">
      <input matInput [matDatepicker]="picker2" placeholder="Дата выполнения" formControlName='date_finish'>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-group comment">
      <textarea matInput placeholder="Комментарий" cols="40" type="text" class="form-control" id="comment" formControlName='comment'></textarea>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-select class="form-control" placeholder='Услуга' id="service" [value]="currentOrder.service.title"
        formControlName='service'>
        <mat-option *ngFor="let serv of services" [value]="serv.title">{{serv.title}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-group">
      <mat-select class="form-control" placeholder='Статус' id="status" [value]="currentOrder.status.title"
        formControlName='status'>
        <mat-option *ngFor="let stat of statuses" [value]="stat.title">{{stat.title | json}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="buttons">
      <button mat-flat-button type="reset">Отмена</button>
      <button mat-flat-button type="submit">Сохранить</button>
    </div>
  </form>
</mat-card>