<mat-card *ngIf="ordersIds$ | async as ordersIds" class="container">
  <cdk-virtual-scroll-viewport itemSize="120" class="example-viewport">
    <div *cdkVirtualFor="let orderId of ordersIds" class="itemCard">
      <app-product-card [orderId]="orderId"></app-product-card>
    </div>
  </cdk-virtual-scroll-viewport>
  <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent($event)">
</mat-paginator>
</mat-card>
