.example-viewport {
  height: 100%;
  width: 100%;
}
.cdk-virtual-scroll-content-wrapper {
  padding-right: 1.5rem;
}

.container {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  height: calc(100% - 15px - 16px);
}
.itemCard {
  height: 140px;
}
