
// colors for the order state
$statusOrderNew: green;
$statusOrderInWork: yellow;
$statusOrderRejected: red;
$statusOrderCompleted: blue;

$link-color: #3f51b5;
$link-hover-color: currentColor;
$link-hover-decoration: none;
