<mat-sidenav-container 
  hasBackdrop="false" 
  autosize 
  (dblclick)="onResizeSidebar()"
  >
  <mat-sidenav 
    mode="push" 
    opened
    #sidebar 
    [class.small]="small"
    >
    
    <mat-nav-list>
      <div class="logo-container">
        <img src="assets/img/default-company-icon.png">
        <p *ngIf="!small">Название компании</p>
      </div>

      <a [routerLink]="link.link" *ngFor="let link of navigationItems">
        <mat-list-item>
          <mat-icon mat-list-icon>{{link.icon}}</mat-icon>
          <span matLine *ngIf="!small">{{link.text}}</span>
        </mat-list-item>
      </a>

      <a [routerLink]="account.link"> 
        <mat-list-item class=nav-bottom>
          <mat-icon mat-list-icon>{{account.icon}}</mat-icon>
          <span matLine *ngIf="!small">{{account.text}}</span>
        </mat-list-item>
      </a>

    </mat-nav-list>

  </mat-sidenav>
  
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>